@model Proyecto1_web.Models.Tour

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tour_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour_Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Week_list)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Week_list)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
